.main {
    height: calc(100vh - 9rem);
    padding: 2rem 4rem;
    position: relative;
    background-image: url('../../assets/images/background-blurs.svg');
    background-repeat: no-repeat;
    background-position-x: right;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    height: 100%;
}

/* Responsivo */
@media (max-width: 950px) {
    main {
        background-position-x: center;
        background-position-y: bottom;
        background-size: 103%;
        height: 100%;
        margin-bottom: 5rem;
    }

    .main {
        height: 100%;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}