.footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    color: var(--text-inactive);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
    text-align: center;
}

.text {
    margin: 0;
}

.icons {
    display: flex;
    gap: 1rem;
}

.iconLink {
    color: var(--text-inactive);
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.iconLink:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: ease-out 0.3s;
    color: var(--accent-color);
}

svg {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        padding: 1rem;
        bottom: 2rem;
    }

    .text {
        font-size: 0.9rem;
    }

    .icons {
        margin-top: 0.5rem;
    }
}