@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de cores globais */
:root {
  --bg-color: #0F172B;
  --text-active: #F8FAFC;
  --text-inactive: #90A1B9;
  --highlight-color: #615FFF;
  --accent-color: #00D5BE;
  --link-keyword-color: #FFA1AD;
}

body {
  background-color: var(--bg-color);
  font-family: 'Fira Code', monospace;
}